<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="image" property="og:image">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@mattihixx" />
  <meta name="twitter:image" content="https://mattihicks.com/assets/images/matthewPic.jpg">
  <meta property="og:url" content="https://www.mattihicks.com" />
  <meta property="og:title" content="Matti Hicks - Portfolio" />
  <meta property="og:image" content="https://mattihicks.com/assets/images/mattiSmall.jpg">
  <meta property="og:description" content="Portfolio site for Matti Hicks, UX researcher and UX designer." />


  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

 <link rel="icon" type="assets/images/favicon-32x32.png">
<link rel="icon" type="assets/images/favicon-96x96.png">
<link rel="icon" type="assets/images/favicon-16x16.png">
<link rel="icon" type="assets/images/favicon.png">

</head>
