<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body>


    <div class="page-content">
      <div class="wrapper">
        <div class="grid-display">
          <div class="row">
                <div class="col-12 intro">I'm Matti Hicks, a UX researcher with a strong (💪) design background
              </div>
          </div>

          <div class="row">
                <div class="col-8 introPara"><p>Based in Zürich, I am currently a UX researcher for a global bank. Prior to this, I've worked in research areas such as international education, social technologies, health and medical, and engineering.</p>
                  <p>Explore my portfolio or <a href="../assets/papers/mhicksCV.pdf">view my CV (pdf)</a></p>
                  <div class="col-2"></div>
              </div>
          </div>

          <div class="grid-display">
          <div class="row interests">
                <div class="col-12"><h2 class="sectionTitle researchWork">Research work</h2>
              </div>
          </div></div>

    <div class="row interests">
      <div class="col-6">
        <div class="projectGrid">
          <a href="/international-research"><img src="assets/images/ef-customerJourney.jpg" alt="customer journey image"></a>
        </div>
      </div>
      <div class="col-6">
        <div class="projectGrid">
        <h4>International research</h4>
        <p>Identifying customer journeys to revamp EF Language products</p>
        <p>Read about <a href="/international-research">work #1</a></p>
        </div>
    </div>
  </div>

      <div class="row">
      <div class="col-6">
        <div class="projectGrid">
          <a href="/price-quote"><img src="assets/images/susan_pq copy_Fotor.jpg" alt="price quote image"></a>
        </div>
      </div>
      <div class="col-6">
        <div class="projectGrid">
        <h4>Surveys and remote interviews for trip pricing</h4>
        <p>Applying thick data to understand quantitative success </p>
        <p>Read about <a href="/price-quote">work #2</a></p>
        </div>
    </div>
  </div>

    <div class="row">
    <div class="col-6">
      <div class="projectGrid"> 
        <a href="/novartis-work"><img src="assets/images/novartis_collaboration_thumb.jpg" alt="novartis image"></a>
      </div>
    </div>
    <div class="col-6">
      <div class="projectGrid">
       <h4>Contextual inquiries at Novartis</h4>
        <p>Working with research oncologists to enable better collaboration</p>
        <p>Read about <a href="/novartis-work">work #3</a></p>
      </div>
    </div>
  </div>


   <div class="row">
    <div class="col-6">
      <div class="projectGrid">
        <a href="/ultrasound-work"><img src="assets/images/ultrasound_thumb.jpg" alt="ultrasound image"></a>
      </div>
    </div>
    <div class="col-6">
      <div class="projectGrid">
       <h4>Portable Ultrasound for Village Midwives</h4>
          <p>Field study research for the UI of a low cost medical device in rural Uganda</p>
          <p>Read about <a href="/ultrasound-work">work #4</a></p>
      </div>
    </div>
  </div>

                    <div class="grid-display">
          <div class="row">
                <div class="col-12"><h2 class="sectionTitle designWork">Design work</h2>
              </div>
          </div></div>

    <div class="row interests">
      <div class="col-6">
        <div class="projectGrid">
          <a href="/education-first"><img src="assets/images/ef_thumb.jpg" alt="novartis image"></a>
        </div>
      </div>
      <div class="col-6">
        <div class="projectGrid">
        <h4>Digital transformation for EF Finland</h4>
        <p>Researching and designing for a new end to end customer experience</p>
        <p>Read about <a href="/education-first">work #5</a></p>
        </div>
    </div>
  </div>


   <div class="row">
    <div class="col-6">
      <div class="projectGrid">
        <a href="/dogstay"><img src="assets/images/dogStay_thumb6.jpg" alt="dogstay image"></a>
      </div>
    </div>
    <div class="col-6">
      <div class="projectGrid">
       <h4>DogStay: a tailored dog boarding experience</h4>
        <p>A self-initiated project - based on my love for dogs 🐶</p>
        <p>Read about <a href="/dogstay">work #6</a></p>
      </div>
    </div>
  </div>


    </div>

  </div>
</div>


<!-- <div class="page-content">
    <div class="wrapper">

                        <div class="grid-display">
          <div class="row">
                <div class="col-12"><h2 class="sectionTitle publications">Selected publications</h2>
              </div>
          </div>



  
        <div class="row interests">
          <div class="col-4">
            <a href="https://uxdesign.cc/design-that-nurtures-the-human-experience-63f2025546cf">
            <div class="publicationCard">
              
                <img src="assets/images/nutureExperience_post.jpeg" alt="nuture experience post image"/>
                <div class="publicationTitle">
                <h5>2018</h5>
                  <h4>Design that nurtures the human experience</h4>

          </div>
        </div></a>
      </div>
          
          <div class="col-4">
            <a href="https://uxdesign.cc/user-research-makes-you-a-better-human-baafe1475877" >
            <div class="publicationCard">
                <img src="assets/images/post_userResearch.jpeg" alt="user research better human blog post image"/>
                   <div class="publicationTitle">
                <h5>2018</h5>
                  <h4>User research makes you a better human</h4>
</div>
            </div>
          </a>

          </div>
            
          <div class="col-4">
            <a href="assets/papers/UltrasoundAssistantIUI4DR.pdf">
            <div class="publicationCard">
   <img src="assets/images/ultrasound_paper.jpg" alt="ultrasound paper image"/>
                   <div class="publicationTitle">
                <h5>2011</h5>
                  <h4>Designing an Intelligent Medical Assistant [pdf]</h4>
          </div>
          
</div></a>
  </div>
  </div>

            <div class="row interests">
                <div class="col-12"><p>For more writing, please check out <a href="https://medium.com/@mattihicks">Medium</a> or my <a href="/ultrasound">academic work</a></p>
              </div>
          </div>
</div>
</div>
</div> -->

<div class="page-content-alternative">
  

    <div class="wrapper">

                       <div class="grid-display">
          <div class="row interests">
                <div class="col-12"><h2 class="sectionTitle aboutMe">About Matti

              </h2>
         
          </div></div>
        <div class="row interests">
          <div class="col-6 aboutPic">


            <img src="assets/images/matthewPic.jpg" alt="matthew pic">
          </div>
          <div class="col-6 about">
            <p>I grew up in Kansas City, Missouri, raised by two hardworking parents who reluctantly let me study abroad in Germany when I was 17. After graduating high school I moved to Seattle and worked in cafes until I could afford college.</p>
            <p>In college I won scholarships that enabled me to develop strong passions for art, digital design, research, and writing. I also studied in Italy, interned in Holland, and conducted fieldwork in Uganda.</p>
            <p>Less than a month after graduating college I moved to Switzerland where I've been living for the past eight years.</p>
            <p>Not yet a yodeler, not yet an alphorn player. But loving it here.🇨🇭☺️</p>
          </div>
        </div>
      </div>

      <div class="grid-display">
        <div class="row interests">
          <div class="col-4">
            <h4>I look up to...</h4>
            <ul>
              <li><a href="https://www.triciawang.com/">Tricia Wang</a></li>
              <li><a href="http://elizabethchurchill.com/">Elizabeth Churchill</a></li>
              <li><a href="http://www.danah.org/">dana boyd</a></li>
              <li><a href="https://www.swiss-miss.com/">SwissMiss</a></li>
            </ul>
          </div>
          
          <div class="col-4">
            <h4>I work with...</h4>
            <ul>
              <li><a href="https://ethn.io/">Ethnio</a></li>
              <li><a href="https://airtable.com/">Airtable</a></li>
              <li><a href="https://www.fullstory.com/">FullStory</a></li>
              <li>Adobe Omniture</li>
            </ul>
            </div>
            
          <div class="col-4">
            <h4>And for fun I...</h4>
            <ul>
              <li>Write and read fiction</li>
              <li>Listen to <a href="https://www.mixed-methods.org/">Mixed Methods</a></li>
              <li>Code side projects</li>
              <li>Meditate</li>
            </ul>
          </div>
          
</div>
  </div>
</div>
</div>



<!--   {{ content }} -->
<div class="wrapper">

        {% include footer.html %}
      </div>


 {% if jekyll.environment == 'production' %}
    {% include analytics.html %}
    {% endif %}

  </body>

</html>
